<ul class="entry-list">
{% for item in items %}
  <li>
    <a href="{{ item.url }}">{{ item.data.title }}</a>
    <span class="muted">· {{ item.date | dateReadable }}</span>
  </li>
{% endfor %}
</ul>
